.root {
  position: relative;
}

.icon{
  width: 24px;
  height: 24px;
  opacity: 0.5;
  position: absolute;
  left: 12px;
  top: 9px;
}

.input {
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 12px 20px 12px 42px;
  width: 450px;
  border-radius: 10px;
  font-size: 16px;
  transition: all 0.15s ease-in-out;

  &:focus{
    border: 1px solid rgba(0, 0, 0, 0.3);
    width: 500px;
  }
}